@import "variables";

@mixin screen-sm {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin screen-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin screen-xl {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin screen-2xl {
  @media screen and (min-width: 1536px) {
    @content;
  }
}

@mixin font-bold16 {
  font-weight: 700;
  font-size: 16px;
}

@mixin font-nav-item($font-size: 14px) {
  font-weight: 600;
  font-size: $font-size;
}

@mixin logo-nav-item {
}

@mixin font-extra-bold18($color: #242424) {
  font-weight: 800;
  font-size: 18px;
  color: $color;
}

@mixin font-extra-bold16 {
  font-weight: 800;
  font-size: 16px;
}

@mixin font-extra-bold15 {
  font-weight: 800;
  font-size: 15px;
}

@mixin font-extra-bold14($color: #242424) {
  font-weight: 800;
  font-size: 14px;
  color: $color;
}

@mixin font-semi-bold14 {
  font-weight: 600;
  font-size: 14px;
}

@mixin font-semi-bold13 {
  font-weight: 600;
  font-size: 13px;
}

@mixin font-semi-bold12($color: #7d7d7d) {
  font-weight: 600;
  font-size: 12px;
  color: $color;
}

@mixin font-semi-bold10($color: #7d7d7d) {
  font-weight: 600;
  font-size: 10px;
  color: $color;
}

@mixin font-regular13($color: #696969) {
  font-weight: 400;
  font-size: 13px;
  color: $color;
}

@mixin font-regular12 {
  font-weight: 400;
  font-size: 12px;
}

@mixin font-regular11($color: #696969) {
  font-weight: 400;
  font-size: 11px;
  color: $color;
}
